* {
    box-sizing: border-box;
}

body {
	background: linear-gradient(to right, #037bbf, rgba(0,0,0,0) 13%),
                linear-gradient(to right, rgba(0,0,0,0) 87%, #037bbf);
	margin: 0;
	padding: 0;
}


.main-content {
    width: 80%;
	max-width: 1150px;
	margin: 0 auto;
}

/*************************************
            Navigation
*************************************/

.navbar-brand img{
    height: 50px;
}
 .navbar {
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: 0 1px 4px rgba(0,0,0,.4);
}

.social-icon {
    height: 50px;
    border-radius: 50%;
/*    border: 0.5px solid grey;*/
    margin: auto 0;
    
}

.social-icon:hover,
.fab:hover,
.far:hover {
    box-shadow: 0 2px 10px -1px black;
    color: #037bbf;
}

.fab {
    background-color: white;
    font-size: 1.9em;
    padding: 10px 17.159px;
    margin: 0 10px;
    border-radius: 50%;
    vertical-align: middle;
    color: #037bbf;
    
}

.far {
    background-color: white;
    font-size: 1.9em;
    border-radius: 50%;
    vertical-align: middle;
    padding: 10px 9.8px;
    color: #037bbf;
}


.btn-outline-primary {
    color: #037bbf;
    border: #037bbf solid 1px;
}

.btn-outline-primary:hover {
    color: white;
    background-color: #037bbf;
    border: #037bbf solid 1px;
}

li.nav-item:last-child {
    margin-right: 15px;
}

/*.navbar ul,
.sub-menu {
	background-color: #ffffff;
	color: #037bbf;
	list-style-type: none;
	font-family: sans-serif;
	font-size: 20px;
	margin: 0;
	padding-left: 10px;
	display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    
	
}

li {
	display: inline;
	font-weight: bold;
	max-height: 150px;
    flex-grow: 1;
    align-self: center;
}
li.nav-buttons,
ul a {
    text-decoration: none;
    padding: 64px 20px;
	margin: auto;
	max-height: 150px;
    text-align: center;
    transition: background 0.5s ease,
                color 0.5s ease,
                box-shadow  0.5s ease,
                text-shadow 0.5s ease;
}

 **/
.slogan {
    color: #037bbf;
    padding: 5px 0;
    margin: 0;
    text-align: center;
    width: 100%;
    border-top: solid black 5px;
    border-bottom: solid black 5px;
}

.listen-live {
    position: fixed;
    top: 25%;
    right: 0;
    padding: 25px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.3em;
    text-shadow: 1px 1px 5px #000;
    box-shadow: -1px 1px 5px #444;
    color: white;
    background-color: rgba(3,123,191, 0.6);
    margin: auto;
    border-radius: 10% 0 0 10%;
}

/*************************************
            Footer
*************************************/

footer {
    width: 100%;
    box-shadow: 0 -1px 20px -1px #000;
    height: 200px;
}

#mcs-logo {
    height: 130px;
    border-radius: 50%;
    box-shadow: 0 3px 30px -6px black;
}

#mcs-logo:hover {
    box-shadow: 0 5px 40px -4px black;
}

#gmap_canvas {
    height: 130px;
}

footer p {
    margin-bottom: auto;
    margin-top: auto;
    font-family: sans-serif;
}

.main-footer {
    margin: 0 auto;
    width: 75%;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

/*************************************
            Listen-Live
*************************************/

header img.logo {
    height: 135px;
    display: block;
    margin: 0 auto;
}

.mejs__container {
    margin: 30px auto;
    padding-bottom: 50p;
    background-color: #037bbf;
    width: 2000px;
    padding-left: 0;
}

.mejs__controls {
    padding: 0;
}

.mejs__playpause-button {
    border-right: steelblue 1px solid;
}

span.mejs__broadcast {
    font-size: 20px;
    text-shadow: 1px 1px black;
}

/*************************************
            Media Queries
*************************************/

@media (max-width: 1062px) {
    .navbar {
/*        padding-top: 200px;*/
        justify-content: center
    }
    
    .listen-live {
        top: 20px;
    }
}
